# Data files (too large for git)
data/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# OS-specific
.DS_Store          
Thumbs.db          

# Editor/IDE
.vscode/
.idea/

# Environment variables
.env